img
	
{

	border:none;
	
}

#header_container

{
width: 1160px
}

#header

{
height:113px;
margin: 10 auto;
position: relation;
width: 560px;
}

#nav_login_area

{
float: right;
margin-top: 20px;
width: 550px;
}

#login_area

{
float: right;
background: #B2DFEE;
-moz-border-radius: 5px 5px 5px 5px;
width: 485px;
text-align: right;
}

#twitter

{
float: right;
padding 9px;
width: 155px;
}

body
{
font-family: Helvetica,Arial,sans-serif;
min-height: 700px;
}

#body

{
float:left;
min-height:500px;
padding:15px 18px 10px 12px;
position:relative;
width:672px;
}

#logo {
float:left;
margin-top:10px;
width:421px;
}
