img
	
{

	border:none;
	
}

#header_container

{
width: 1160px
}

#header

{
height:113px;
margin: 10 auto;
position: relation;
width: 560px;
}

#nav_login_area

{
float: right;
margin-top: 20px;
width: 550px;
position: relative;
top: -100px;
}

#login_area

{
float: right;
background: #B2DFEE;
-moz-border-radius: 5px 5px 5px 5px;
width: 485px;
text-align: right;
}

#twitter

{
float: right;
padding 9px;
width: 155px;
}

body
{
font-family: Helvetica,Arial,sans-serif;
min-height: 700px;
}

#body_content

{
float: left;
-moz-border-radius:7px 7px 7px 7px;
background:#B2DFEE;
width:1091px;
position: relative;
left: 6.1%;

}

#body_container

{
width 1110px;

}
#logo {
float:left;
margin-top:10px;
width:421px;
}
