img
	
{

border:none;
	
}

#header_container

{
width: 1160px
}

#header

{

height:100px;
margin: 10 auto;
position: relation;
width: 560px;
}


#nav_login_area

{
float: right;
margin-top: 23px;
width: 550px;
position: relative;
top: -98px;
}

#login_area

{
float: right;
background: #B2DFEE;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
width: 485px;
text-align: right;
}

#arrow

{
background-image: url("/twitspare/images/arrow.png");
background-repeat: no-repeat;
height: 32px;
margin-left:134px;
}

#twitter

{
float: right;
padding 9px;
width: 155px;
}


#nav

{
float: right;
top: -70px;
position: relative; 
font-size: 12px;
color: #024769;
font-family: Helvetica,sans-serif;
}

#mini_intro 

{
font-size: 12px;
color: #024769;
font-family: Helvetica,sans-serif;
text-align: center;
}

#mini_intro a

{
color: #333333
}

#intro

{
font-size: 18px;
color: #024769;
font-family: Helvetica,sans-serif;
text-align: center;
}

body
{
font-family: Helvetica,Arial,sans-serif;
min-height: 700px;
background: #FFFFFF ;
}

#body_content

{
color: #0B070C;
float: left;
-moz-border-radius:7px 7px 7px 7px;
-webkit-border-radius:7px 7px 7px 7px;
background:#8FC8E8;
width:1091px;
position: relative;
left: 6.1%;
top: -52px;

}

#main_body

{
color: #222222;
float: left;
background: ;
-moz-border-radius:7px 7px 7px 7px;
left: 6.6%;
width: 1093px;
position: absolute;
top: 250px;
}

#body_recent a

{
font-family: Helvetica,sans-serif;
font-size: 26px;
postion:relative;
float: left;
left: 5%;
text-align: center;
top: -175px;
border-bottom: 5px solid #CCCCCC;
-moz-border-radius:10px 10px 10px 10px;
color: #333333;
text-decoration: none;
}

#body_recent:hover a

{
color: #222222;
border-bottom: 5px solid #B2DFEE;
text-decoration: none;
}

#body_recent_under

{
font-size: 12px;
color: #222222;
font-family: Helvetica,sans-serif;
width: 201px;
text-align: center;
}

#earnings

{

font-family: Helvetica,sans-serif;
font-size: 18px;
float: right;
left: -10px;
}

#recent_tweets

{
width: 312px;
font-size: 12px; 
border-right: 5px solid #CCCCCC;
}

#twitter_status a:visited

{
color: #222222;
}

#twitter_status a:hover

{
color: #B2DFEE;
}

.twitter_small

{
top: 14px;
position: relative;
}
#twitter_status

{
border-bottom: 3px solid #CCCCCC; 
height: 130px;
}


#body_container

{
width 1110px;

}
#logo {
float:left;
margin-top:10px;
width:421px;
}

#footer

{
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
}

a:link {color: #222222; text-decoration: underline; }
#nav a:active {color: #222222; text-decoration: underline; }
a:visited {color: #222222; text-decoration: underline; }
#nav a:hover {color: #222222; text-decoration: none; }
