img
	
{

border:none;
	
}

#header_container

{
width: 1160px
}

#header

{

height:100px;
margin: 10 auto;
position: relation;
width: 560px;
}


#nav_login_area

{
float: right;
margin-top: 23px;
width: 550px;
position: relative;
top: -98px;
}

#login_area

{
float: right;
background: #B2DFEE;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
width: 485px;
text-align: right;
}

#arrow

{
background-image: url("/twitspare/images/arrow2.png");
background-repeat: no-repeat;
height: 32px;
margin-left:134px;
}

#twitter

{
float: right;
padding 9px;
width: 155px;
}


#nav

{
float: right;
top: -70px;
position: relative; 
font-size: 12px;
color: #024769;
font-family: Helvetica,sans-serif;
}

#mini_intro 

{
font-size: 13px;
color: #024769;
text-align: center;
}

#mini_intro a

{
color: #333333
}

#intro

{
font-size: 18px;
color: #FFFFFF;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
background: #8FC8E8;
height: 24px;
width: 850px;
position: relative;
left: 107px;
font-family: Helvetica,sans-serif;
text-align: center;
}

body
{
font-family: Helvetica,Arial,sans-serif;
min-height: 700px;
background: #FFFFFF ;
}

#body_content

{
color: #0B070C;
float: left;
-moz-border-radius:7px 7px 7px 7px;
-webkit-border-radius:7px 7px 7px 7px;
background:#B2DFEE;
width:1091px;
position: relative;
left: 6.1%;
top: -52px;

}

#main_body

{
color: #222222;
float: left;
background: ;
-moz-border-radius:7px 7px 7px 7px;
left: 6.6%;
width: 1093px;
position: absolute;
top: 250px;
}

#body_recent a

{
font-family: Helvetica,sans-serif;
font-size: 26px;
postion:relative;
float: left;
left: 5%;
text-align: center;
top: -125px;
border-bottom: 5px solid #B2DFEE;
color: #333333;
text-decoration: none;
}

#body_recent:hover a

{
color: #222222;
border-bottom: 5px solid #CCCCCC;
text-decoration: none;
}

#body_recent_under

{
font-size: 12px;
color: #222222;
font-family: Helvetica,sans-serif;
width: 201px;
text-align: center;
}

#earnings

{

font-family: Helvetica,sans-serif;
font-size: 18px;
float: right;
left: -10px;
}

#recent_tweets

{
top: 20px;
position: relative;
width: 256px;
font-size: 12px;
}

#twitter_status a:link

{
color: #8FC8E8;
}

#twitter_status a:visited

{
color: #8FC8E8;
}


#twitter_status a:hover

{
color: #222222; 

}

#twitter_status

{
-webkit-border-radius:5px 5px 5px 5px 5px;
border-bottom: 4px solid #CCCCCC;
height: 116px;
width: 252px;
}

#text_twit

{
width: 190px;
font-weight: normal;
font-size:10px;
font-family: Lucida Grande, sans-serif;
position:relative;
left: 61px;
top: -45px;
}

#twitter_small

{
position: relative;
top: -42px;
}

.twitter_image

{
border: 2px solid #B2DFEE;
position: relative;
top: 10px;
}

.time 

{
color: ##0B070C;
position: relative;
top: 5px;
}

#body_container

{
width 1110px;

}
#logo {
float:left;
margin-top:10px;
width:421px;
}

#footer

{
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
}

a:link {color: #222222; text-decoration: underline; }
#nav a:active {color: #222222; text-decoration: underline; }
a:visited {color: #222222; text-decoration: underline; }
#nav a:hover {color: #222222; text-decoration: none; }
