/*Custom*Font*Declerations*/
 
        /*Delicious-Bold*Italic*/
		
		@font-face { font-family: delicious-bolditalic; src: url(http://localhost/twitspare/system/fonts/dc30.otf) format("opentype") }
		
		/*Chunkfive*/
		
		/*(OpenType)*/
		
		@font-face { font-family: Chunkfive; src: url(http://localhost/twitspare/system/fonts/Chunkfive.otf) format("opentype") }
		
		/*Delicious-Italic*/
		
		@font-face { font-family: delicious-italic; src: url(http://localhost/twitspare/system/fonts/dc32.otf) format("opentype") }
		
		/*Chunkfive*/

		/*(TrueType)*/
		
		@font-face { font-family: Chunkfive; src: url(http://localhost/twitspare/system/fonts/Chunkfive.ttf) format("truetype") }
		
		/*Delicious-Heavy*/
		
		@font-face { font-family: delicious-heavy; src: url(http://localhost/twitspare/system/fonts/dc31.otf) format("opentype") }
		
		/*Delicious-Bold*/
		
		@font-face { font-family: delicious-bold; src: url(http://localhost/twitspare/system/fonts/dc35.otf) format("opentype") }
		
		/*Delicious-Roman*/
		
		@font-face { font-family: delicious-roman; src: url(http://localhost/twitspare/system/fonts/dc33.otf) format("opentype") }
		
		/*Delicious-Smallcaps*/
		
		@font-face { font-family: delicious-smallcaps; src: url(http://localhost/twitspare/system/fonts/dc29.otf) format("opentype") }
		
		/*DJ GROSS*/

		@font-face {font-family: DJ Gross; src: url(http://localhost/twitspare/system/fonts/DJGROSS.ttf); font-weight: normal;}

		/*Jinky*/
		
		@font-face {font-family: jinky; src: url(http://localhost/twitspare/system/fonts/jinky.ttf);}

img
	
{

border:none;
	
}

#header_container

{
width: 1160px;

}

#slogan 

{
position: relative;
top:-551px;
left:269px;
text-decoration: none;
font-family:DJ Gross;
font-size: 40px;
width: 270px;
}

#text_sloga

{
font-size: 30px;
font-family: JINKy;
}

#header

{

height:100px;
margin: 10 auto;
position: relation;
width: 560px;
}


#nav_login_area

{
float: right;
margin-top: 23px;
width: 550px;
position: relative;
top: -98px;
}

#container

{
}

#login_area

{
float: right;
background: #B2DFEE;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
width: 485px;
text-align: right;
}

/*#twitspare_premium

{
background: #8FC8E8;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
width: 485px;
text-align: right;
position: relative;
top: 64px;
left: 64px;
}*/

#arrow

{
background-image: url("/twitspare/images/arrow2.png");
background-repeat: no-repeat;
height: 32px;
margin-left:134px;
}

#twitter

{
float: right;
padding 9px;
width: 155px;
}


#nav

{
float: right;
top: -70px;
position: relative; 
font-size: 12px;
color: #024769;
font-family: Helvetica,sans-serif;
}

#mini_intro 

{
font-size: 13px;
color: #024769;
text-align: center;
}

#mini_intro a

{
color: #333333
}

#intro

{
font-size: 18px;
color: #FBFBBFB; 
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
background: #8FC8E8;
height: 24px;
width: 850px;
position: relative;
left: 107px;
font-family: Helvetica,sans-serif;
text-align: center;
}

body
{

font-family: Helvetica,Arial,sans-serif;
min-height: 700px;
background: #FBFBFB ;
}

#earn a

{
background-color: #FF9; 
}

#earn a:hover

{
background-color:#EEEEEE;
}

#body_content

{
color: #0B070C;
float: left;
-moz-border-radius:7px 7px 7px 7px;
-webkit-border-radius:7px 7px 7px 7px;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
background:#B2DFEE;
width:1091px;
position: relative;
left: 6.1%;
top: -52px;
}

#main_body

{
color: #222222;
float: left;
background: #FFFFFF;
-moz-border-radius:7px 7px 7px 7px;
-webkit-border-radius:7px 7px 7px 7px;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
left: 6.6%;
height: 500px;
width: 1093px;
position: absolute;
top: 250px;
}

#how

{
left: 390px;
position:relative;
height: 100px;
width: 310px;
top: -401px;
font-family: 'Helvetica Neue', HelveticaNeue, 'Lucida Grande', Frutiger, Univers, 'Helvetica Neue', Calibri, Helvetica, Verdana, sans-serif;
}

#find a

{
text-decoration:none;
font-family: 'Helvetica Neue', HelveticaNeue, 'Lucida Grande', Frutiger, Univers, 'Helvetica Neue', Calibri, Helvetica, Verdana, sans-serif;
font-size: 12px;
}

#find_bold

{
position:relative;
left: 16px;
top: 45px;
background-color: #FF9; 
font-size: 13px;
}

#find_text

{
position:absolute;
left: 90px;
top: 130px;
font-size: 13px;
}

#find_image

{
position:relative;
left: 1px;
top: 123px;
}

#comment_vote a

{
text-decoration:none;
font-family: 'Helvetica Neue', HelveticaNeue, 'Lucida Grande', Frutiger, Univers, 'Helvetica Neue', Calibri, Helvetica, Verdana, sans-serif;
font-size: 12px;
}

#vote_bold

{
position:relative;
left: -75px;
top: 25px;
background-color: #FF9; 
font-size: 13px;
}

#vote_text

{
position:absolute;
left: 90px;
top: 240px;
font-size: 13px;
}

#vote_image

{
position:relative;
left: -90px;
top: 98px;
}

#tweet_vote a

{
text-decoration:none;
font-family: 'Helvetica Neue', HelveticaNeue, 'Lucida Grande', Frutiger, Univers, 'Helvetica Neue', Calibri, Helvetica, Verdana, sans-serif;
font-size: 12px;
}

#tweet_bold

{
position:relative;
left: -75px;
top: 15px;
background-color: #FF9; 
font-size: 13px;
}

#tweet_text

{
position:absolute;
left: 90px;
top: 350px;
font-size: 13px;
}

#tweet_image

{
position:relative;
left: -90px;
top: 92px;
}

#body_recent a

{
font-family: Helvetica,sans-serif;
font-size: 26px;
position:relative;
float: left;
left: 36px;
text-align:center;
border-bottom: 5px solid #B2DFEE;
color: #333333;
text-decoration: none;
}

#body_recent:hover a

{
color: #222222;
border-bottom: 5px solid #CCCCCC;
text-decoration: none;
}

#body_recent_under

{
font-size: 12px;
color: #222222;
font-family: Helvetica,sans-serif;
width: 201px;
text-align: center;
position: relative;
left: 38px;
}

#earnings

{

font-family: Helvetica,sans-serif;
font-size: 18px;
float: right;
left: -10px;
}

#recent_tweets

{
top: 20px;
position: relative;
width: 256px;
font-size: 12px;
left: 33px;
}

#twitter_status a:link

{
color: #8FC8E8;
}

#twitter_status a:visited

{
color: #8FC8E8;
}

#email_address
{
position: relative;
font-weight: bold;
font-size: 42px;
font-family: delicious;
left: -140px;
top: 50px;
}

#email_add

{
font-size: 20px;
position: relative;
left: 661px;
background: #ff9;
width: 180px;
top: 40px;
}
.form

{
position: relative;
top: 180px;
left: 500px;
}

input, textarea {  
	position: relative;
	left: -120px;
	top: -81px;
    padding: 17px;  
    border: solid 1px #E5E5E5;  
    outline: 0;  
    font: normal 34px/100% delicious;  
    width: 475px;  
    background: #FFFFFF;  
    }  
  
textarea {  
    width: 400px;  
    max-width: 400px;  
    height: 150px;  
    line-height: 200%;  
    }  
  
input:hover, textarea:hover,  
input:focus, textarea:focus {  
    border-color: #C9C9C9;  
    }  
  
.form label {  
	position: relative;
	font-family: chunk-five;
	font-size: 30px;
	left: -801px;
	top: -81px;
    margin-left: 10px;  
    color: #999999;  
    }  
  
.submit input {  
    width: auto;  
    padding: 19px 45px;  
    background: #B2DFEE;  
    border: 0;  
    font-size: 35px;  
    color: #FFFFFF;  
    }  
input, textarea {  
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    }  

#twitter_status a:hover

{
color: #222222; 

}

#twitter_status

{
-webkit-border-radius:5px 5px 5px 5px 5px;
border-bottom: 4px solid #CCCCCC;
height: 116px;
width: 252px;
}

#how_it_works_main 

{
width: 220px;
font-weight: bold;
font-size: 26px;
position: relative;
left: 228px;
color: #222;
text-decoration: none;
font-family: Helvetica, sans-serif;
border-bottom: 5px solid #7AD084;
}

#how_it_works_mini

{
font-size: 12px;
color: #222222;
font-family: Helvetica,sans-serif;
width: 201px;
text-align: center;
position: relative;
top: 28px;
left: 90px;
font-weight: bold;
}

#how_text

{
font-size:15px;

position: relative;

font-weight: normal;
font-family:Georgia;
}

#text_twit

{
width: 190px;
font-weight: normal;
font-size:10px;
font-family: Lucida Grande, sans-serif;
position:relative;
height: 62px;
left: 61px;
top: -46px;
}

#twitter_small

{
position: relative;
top: -42px;
}

.twitter_image

{
border: 2px solid #B2DFEE;
position: relative;
top: 10px;
}

.time 

{
color: #FFF;
position: relative;
top: 5px;
background-color: #222;
}

#link_user

{
background-color: #FF9;
}

#body_container

{
width 1110px;

}
#logo {
float:left;
margin-top:10px;
width:421px;
}

#footer

{
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
}

a:link {color: #222222; text-decoration: underline; }
#nav a:active {color: #222222; text-decoration: underline; }
a:visited {color: #222222; text-decoration: underline; }
#nav a:hover {color: #222222; text-decoration: none; }
